.user-profile {
    .profile-photo {
        height: 121px!important;
        width: 121px!important;
        max-width: 100%;
        object-fit: cover;
        cursor: pointer;
    }
    .nav-pills {
        padding: 10px 0;
        .nav-link {
            color: $second-color;
            border: none;
            border-bottom: 1px solid #F3F3F3;
            border-radius: 0;
            &:last-child {
                border-bottom: none;
            }
        }
        .nav-link.active,
        .show>.nav-link {
            color: $main-color;
            background: $transparent;
        }
    }
    .edit-user-content {
        padding: 20px;
        hr {
            margin: 15px -20px;
        }
    }
}

// Delete Account
.user-delete-account {}