@media (min-width:992px) and (max-width: 1366px) {}

@media (max-width: 992px) {
    .title {
        h2 {
            font-size: 26px;
        }
        p {
            font-size: 12px;
        }
    }
    .sub-title {
        font-size: 22px;
    }
}


/* End Responsive */