.blogs-section {
    .blog-widget {
        margin-bottom: 30px;
        color: $second-color;
        .widget-content {
            padding: 10px;
            h6,
            span {
                font-size: $sm-font-size;
            }
        }
    }
    .blog-photo {
        max-height: 400px;
        overflow: hidden;
        border-radius: 4px;
        img {
            border-radius: 4px;
        }
    }
    &.workspaces {
        .workspaces-widget {
            img {
                max-height: 185px;
                object-fit: cover;
            }
        }
    }
}