.my-courses {
    padding: 14px;
    h6 {
        font-size: $sm-font-size;
    }
    .teacher-name {
        font-size: $xs-font-size
    }
    .video-thumbnail {
        position: relative;
        img {
            width: 100%;
            object-fit: cover;
        }
        .photo-radius {
            border-radius: 3px 3px 0 0;
        }
        .play-icon {
            width: 34px;
            position: absolute;
            top: 15%;
            right: 50%;
            @include prefixes(transform, translate(50%, 50%));
        }
    }
    .progress {
        height: 4px;
        background-color: $second-color;
        border-radius: 0;
    }
}

.course-step-2 {
    .upload-course-video-label {
        max-width: 346px;
        background: #F8F8F8;
        padding: 30px 0;
        text-align: center;
        border: 2px dashed #707070;
        width: 100%;
    }
}

.course-step-content {
    #questions-list {
        .custom-checkbox {
            .custom-control-label {
                &:before {
                    border-color: #b91f1f;
                    background-color: #b91f1f;
                }
            }
        }
    }
}