@charset "UTF-8";
:root {
  --main-color: #1DBDB7;
  --light-main-color: #E8F8F7;
  --second-color: #424143;
  --third-color: #808080;
  --white-color: #FFF;
  --transparent: transparent;
  --grading-bg: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(194, 249, 255, 1) 100%);
  --facebook: #3b5998;
  --whatsapp: #00E777;
  --linkedin: #0e76a8;
}

@font-face {
  font-family: "ge-ss-light", sans-serif;
  src: url(../../webfonts/ge-ss/GE-SS-Two-Light.otf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Tajawal" !important;
  background: #F8F8F8;
  font-size: 14px;
}

a,
.btn {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none;
}

a:hover {
  color: #424143;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.network-section .women-entrepreneurs img, .navbar .message a .message-avatar {
  border-radius: 50%;
}

.navbar .dropdown,
.navbar .dropleft,
.navbar .dropright,
.navbar .dropup {
  display: flex;
  -ms-display: flex;
}

.main-trainer-step .step-box img, .accordion .card .card-header button i, .dark-bg, .white-bg {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main {
  min-height: 60vh;
}

.disable-resize {
  resize: none;
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
#backdrop.backdrop {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}

.show-read-more .more-text {
  display: none;
}

.profile-photo {
  max-width: 100px;
}

textarea {
  resize: none;
}

.carousel-indicators li {
  background: #1DBDB7;
  background-clip: padding-box;
  height: 4px;
}

.not-readable {
  background: #E8F8F7;
}

.sm-avatar {
  width: 31px !important;
  height: 31px !important;
  border-radius: 50%;
}

.md-avatar {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
}

.lg-avatar {
  width: 96px !important;
  height: 96px !important;
  border-radius: 50%;
}

.sm-avatar, .md-avatar, .lg-avatar {
  object-fit: cover;
  object-position: center;
}

.dots-group {
  margin-top: 20px;
}
.dots-group span {
  width: 10px;
  height: 10px;
  background-color: #D8D8D8;
  border-radius: 50%;
  margin: 0px 5px;
}
.dots-group span.active {
  background: #1DBDB7;
}

.mrl-hr {
  margin-right: -15px;
  margin-left: -15px;
}

.test-icon {
  background-image: url(/assets/images/icons/test-icon.png);
  width: 52px;
  height: 52px;
  background-position: center;
  background-size: contain;
  display: inline-block;
}

.list-icon {
  background-image: url(/assets/images/icons/list.png);
  background-repeat: no-repeat;
  background-position: center right 10px;
  padding-right: 40px !important;
}

.grey-play-icon {
  background-image: url(/assets/images/icons/grey-play-icon.png);
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 30px;
  margin-right: 10px;
}

.has-overlay {
  position: relative;
}
.has-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.24);
}

.has-active {
  background: #E8F8F7;
}

.orange-color {
  color: #EAA93F;
  font-size: 18px;
}

.sm-font {
  font-size: 14px !important;
}

.grey-color {
  color: #D8D8D8;
  font-size: 18px;
}

.progress-rate span {
  font-weight: 600;
  font-size: 13px;
}
.progress-rate .progress {
  height: 0.7rem;
}
.progress-rate .progress .progress-bar {
  background: #EAA93F;
}

.unset-all {
  all: unset;
  cursor: pointer;
}

.title h2 {
  font-size: 36px;
  color: #090909;
}
.title p {
  font-size: 16px;
  color: #707070;
}

.sub-title {
  margin-bottom: 20px;
}
.sub-title h2 {
  font-size: 24px;
  color: #090909;
}

.section {
  padding-top: 50px;
}

.white-bg {
  background: #FFF;
  border-radius: 3px;
}
.white-bg:hover {
  -webkit-box-shadow: 0px 32px 49px -34px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0px 32px 49px -34px rgba(0, 0, 0, 0.44);
  box-shadow: 0px 32px 49px -34px rgba(0, 0, 0, 0.44);
}

.dark-bg {
  background: #003C43;
  border-radius: 3px;
}
.dark-bg:hover {
  -webkit-box-shadow: 0px 32px 49px -34px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0px 32px 49px -34px rgba(0, 0, 0, 0.44);
  box-shadow: 0px 32px 49px -34px rgba(0, 0, 0, 0.44);
}

.custom-radio {
  background: #000;
  color: #FFF;
  padding: 0.5rem 2.3rem 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}
.custom-radio input,
.custom-radio label {
  cursor: pointer;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "رفع الملف";
}

.custom-file .custom-file-input {
  max-width: 120px;
}
.custom-file .custom-file-label {
  max-width: 120px;
  cursor: pointer;
  border: 1px solid #1DBDB7;
}
.custom-file .custom-file-label::after {
  right: 0;
  text-align: center;
  background: transparent;
  cursor: pointer;
  border: none;
  color: #1DBDB7;
}

input[type=radio],
.form-check label {
  cursor: pointer;
}

.form-width {
  max-width: 600px;
  margin: 25px auto 0;
}

.gradient-bg {
  background: #33c2bb;
  background: linear-gradient(90deg, #33c2bb 0%, #23e8c7 100%);
}

.filtration .btn {
  border-color: #E7E7E7 !important;
  color: #505050;
}
.filtration .btn.active {
  border-color: #E2F2F1 !important;
  background-color: #E2F2F1 !important;
  color: #1DBDB7 !important;
}
.filtration .btn:hover {
  border-color: #E2F2F1 !important;
  background-color: #E2F2F1 !important;
  color: #1DBDB7 !important;
}

.play-icon-parent {
  position: relative;
}
.play-icon-parent .play-icon {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
}

.circle-progress {
  width: 150px;
  height: 150px;
  background: none;
  position: relative;
}
.circle-progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}
.circle-progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.circle-progress .progress-left {
  left: 0;
}
.circle-progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.circle-progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 4px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.circle-progress .progress-right {
  right: 0;
}
.circle-progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}
.circle-progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}

.rounded-lg {
  border-radius: 1rem;
}

.text-gray {
  color: #aaa;
}

div.h4 {
  line-height: 1rem;
}

@media (max-width: 992px) {
  .filtration .btn {
    margin-bottom: 10px;
  }
}
.iti,
.iti__flag-box {
  display: block;
}

.iti--separate-dial-code .iti__selected-dial-code {
  margin-right: 6px;
  margin-left: 6px;
}

.select2-container {
  width: 100% !important;
}

.nav-pills .nav-link {
  background: #FFF;
  padding: 0.5rem 1.3rem;
  border: 1px solid #DDD;
  margin-left: 10px;
  min-width: 150px;
  text-align: center;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #424143;
}
.nav-pills .nav-link.active {
  color: #1DBDB7;
  border-color: #1DBDB7;
  background: #FFF;
}
.nav-pills .nav-link img {
  max-height: 31px;
}

.select2-container .select2-selection--single {
  height: 38px;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #ced4da;
  outline: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 38px;
  outline: none;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 38px;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  outline: none;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #1DBDB7;
}

.rate-stars {
  float: left;
  height: auto;
  padding: 0;
}

.rate-stars:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

.rate-stars:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.rate-stars:not(:checked) > label:before {
  content: "★ ";
}

.rate-stars > input:checked ~ label {
  color: #ffc700;
}

.rate-stars:not(:checked) > label:hover,
.rate-stars:not(:checked) > label:hover ~ label {
  color: #deb217;
}

.rate-stars > input:checked + label:hover,
.rate-stars > input:checked + label:hover ~ label,
.rate-stars > input:checked ~ label:hover,
.rate-stars > input:checked ~ label:hover ~ label,
.rate-stars > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.accordion .card {
  border: none;
}
.accordion .card .card-header {
  background: #FFF;
  border: none;
}
.accordion .card .card-header button {
  color: #424143;
}
.accordion .card .card-header button.btn-link.focus, .accordion .card .card-header button.btn-link:focus, .accordion .card .card-header button:hover {
  text-decoration: none;
  color: #1DBDB7;
}
.accordion .card .card-header button.collapsed i {
  transform: rotate(180deg);
}
.container-quizzes {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500;
  background: #1DBDB7;
  padding: 10px;
  border-radius: 10px;
}

#quiz1 {
  width: 100%;
  background: #fff;
  padding: 2rem;
  border-radius: 3px;
}

.navbar {
  background: #FFF;
}
.navbar .right-column-of-navbar {
  align-items: center;
}
.navbar .nav-link {
  font-size: 16px;
}
.navbar .dropdown-toggle .badge {
  top: -10px;
  right: 14px;
}
.navbar .search-form {
  position: relative;
}
.navbar .search-form .form-control {
  width: 300px;
  font-size: 14px;
  max-width: 100%;
  border-radius: 4px;
  border-color: #d1d1d1;
  padding-right: 53px;
  margin-right: 0;
  position: relative;
  z-index: 101;
}
.navbar .search-form .btn-search {
  all: unset;
  position: absolute;
  cursor: pointer;
  right: 18px;
  top: 6px;
  z-index: 101;
}
.navbar .notify .nav-link {
  position: relative;
  margin-left: 20px !important;
  padding: 0 !important;
}
.navbar .notify .nav-link::after {
  display: none;
}
.navbar .notify .nav-link .notify-count {
  position: absolute;
  top: -5px;
  right: -8px;
  background-color: #1DBDB7;
  font-size: 9px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  border-radius: 50px;
  border: 1px solid #FFF;
}
.navbar .notify .dropdown-toggle {
  position: relative;
  margin-left: 20px;
}
.navbar .notify .dropdown-toggle::after {
  display: none;
}
.navbar .notify .dropdown-toggle .notify-count {
  position: absolute;
  top: -5px;
  right: -8px;
  background-color: #1DBDB7;
  font-size: 9px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  border-radius: 50px;
  border: 1px solid #FFF;
}
.navbar .dropdown .dropdown-menu {
  border: none;
  margin-top: 20px;
  box-shadow: 0 -8px 20px rgba(0, 0, 0, 0.1);
  right: 50%;
  -webkit-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
  -o-transform: translate(50%, 0);
  -moz-transform: translate(50%, 0);
}
.navbar .dropdown .dropdown-menu:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid white;
  position: absolute;
  top: -20px;
  right: 50%;
  -webkit-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
  -o-transform: translate(50%, 0);
  -moz-transform: translate(50%, 0);
}
.navbar .dropdown-menu-categories {
  width: 500px;
  padding: 15px;
  right: 50%;
  -webkit-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
  -o-transform: translate(50%, 0);
  -moz-transform: translate(50%, 0);
}
.navbar .dropdown-menu-categories h6 a {
  margin-right: 10px;
}
.navbar .dropdown-menu-categories .dropdown-item {
  padding: 0.25rem 0;
}
.navbar .dropdown-item {
  font-size: 14px;
}
.navbar .dropdown-item:hover {
  background: transparent;
  color: #1DBDB7;
}
.navbar .dropdown,
.navbar .dropleft,
.navbar .dropright,
.navbar .dropup {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.navbar .user-actions .dropdown .dropdown-menu {
  min-width: 350px;
  max-width: 100%;
  padding: 15px;
  -webkit-transform: translate(53%, 0);
  -ms-transform: translate(53%, 0);
  -o-transform: translate(53%, 0);
  -moz-transform: translate(53%, 0);
}
.navbar .message {
  margin: 0 -15px;
  padding: 12px 15px 0;
  border-bottom: 1px solid #FAFAFA;
}
.navbar .message.not-readable {
  background: #E8F8F7;
  border-bottom: 1px solid #FFF;
}
.navbar .message a {
  color: #424143;
}
.navbar .message a:hover {
  color: inherit;
  text-decoration: none;
}
.navbar .message a h6 {
  margin-bottom: 0;
}
.navbar .message a .message-left-time {
  color: #808080;
  font-size: 14px;
}
.navbar .message a .message-avatar {
  width: 44px;
  height: 44px;
}

.adverting-slider .overlay {
  position: relative;
}
.adverting-slider .overlay:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.adverting-slider .overlay img {
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}
.adverting-slider .carousel-control-prev-icon {
  background-image: url(/assets/images/icons/arrows/right-circle-arrow.png);
}
.adverting-slider .carousel-control-next-icon {
  background-image: url(/assets/images/icons/arrows/left-circle-arrow.png);
}
.adverting-slider .carousel-control-next-icon,
.adverting-slider .carousel-control-prev-icon {
  width: 84px;
  height: 84px;
}
.adverting-slider .carousel-control-next,
.adverting-slider .carousel-control-prev {
  width: 84px;
}
.adverting-slider .carousel-control-prev {
  right: -40px;
}
.adverting-slider .carousel-control-next {
  left: -40px;
}
.adverting-slider .carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: revert;
  padding: 70px;
}

.my-courses {
  padding: 14px;
}
.my-courses h6 {
  font-size: 14px;
}
.my-courses .teacher-name {
  font-size: 12px;
}
.my-courses .video-thumbnail {
  position: relative;
}
.my-courses .video-thumbnail img {
  width: 100%;
  object-fit: cover;
}
.my-courses .video-thumbnail .photo-radius {
  border-radius: 3px 3px 0 0;
}
.my-courses .video-thumbnail .play-icon {
  width: 34px;
  position: absolute;
  top: 15%;
  right: 50%;
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  -o-transform: translate(50%, 50%);
  -moz-transform: translate(50%, 50%);
}
.my-courses .progress {
  height: 4px;
  background-color: #424143;
  border-radius: 0;
}

.course-step-2 .upload-course-video-label {
  max-width: 346px;
  background: #F8F8F8;
  padding: 30px 0;
  text-align: center;
  border: 2px dashed #707070;
  width: 100%;
}

.course-step-content #questions-list .custom-checkbox .custom-control-label:before {
  border-color: #b91f1f;
  background-color: #b91f1f;
}
.course-step-content #questions-list .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #1DBDB7;
  background-color: #1DBDB7;
}

.course-featured-img {
  width: 100%;
  max-height: 436px;
  min-height: 436px;
}

.course-playlist {
  height: 436px;
  overflow: hidden;
  overflow-y: scroll;
}
.course-playlist i {
  width: 20px;
  text-align: center;
}
.course-playlist .has-active {
  color: #1DBDB7 !important;
}
.course-playlist .has-active i {
  color: #1DBDB7 !important;
}

.quizzes .wrong-answer {
  background: rgba(236, 43, 43, 0.1);
  color: #EC2B2B;
  position: relative;
}
.quizzes .wrong-answer::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: 15px;
  top: 10px;
  color: #EC2B2B;
}
.quizzes .correct-answer {
  background-color: rgba(29, 189, 77, 0.1);
  color: #1FB943;
  position: relative;
}
.quizzes .correct-answer::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: 15px;
  top: 10px;
  color: #1FB943;
}

.certificates-box img {
  max-width: 74px;
  max-height: 74px;
}

.public-leading-businesses-section .lb-widget {
  padding-bottom: 5px;
  position: relative;
  overflow: hidden;
}
.public-leading-businesses-section .lb-widget h6 {
  padding: 10px 10px 0;
  font-size: 14px;
  margin-bottom: 0;
  color: #424143;
}
.public-leading-businesses-section .lb-widget p {
  font-size: 12px;
  padding: 10px;
  margin-bottom: 0;
  color: #808080;
}
.public-leading-businesses-section .lb-widget .status {
  position: absolute;
  top: 53%;
  right: 10px;
}

.private-leading-businesses-section .lb-widget {
  min-height: 135px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.private-leading-businesses-section a {
  color: #FFF;
  font-size: 16px;
}

.work-shops-section .workshop-widget {
  position: relative;
  overflow: hidden;
}
.work-shops-section .workshop-widget:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
}
.work-shops-section .workshop-widget .absolute {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-right: 10px;
}
.work-shops-section .workshop-widget .absolute h6 {
  font-size: 14px;
  color: #FFF;
}
.work-shops-section .workshop-widget .absolute p {
  font-size: 12px;
  color: #FFF;
}
.work-shops-section .banner {
  padding: 30px;
  border-radius: 3px;
}
.work-shops-section .banner.join-ideas-banner {
  background: #1DBDB7;
}
.work-shops-section .banner.request-reference-banner {
  background: #29B26D;
}
.work-shops-section .banner h3 {
  font-size: 24px;
  color: #FFF;
}
.work-shops-section .banner p {
  color: #FFF;
}

.network-section .women-entrepreneurs {
  text-align: center;
}
.network-section .women-entrepreneurs img {
  margin-bottom: 15px;
  max-width: 163px;
  max-height: 163px;
}
.network-section .women-entrepreneurs h6 {
  font-size: 14px;
  color: #424143;
}
.network-section .women-entrepreneurs p {
  font-size: 14px;
  color: #424143;
}
.network-section.women-entrepreneurs-index .women-entrepreneurs {
  margin-bottom: 30px;
}

.meetings .meeting-widget {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.meetings .meeting-widget:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
}
.meetings .meeting-widget .absolute {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-right: 10px;
}
.meetings .meeting-widget .absolute h6 {
  font-size: 14px;
  color: #FFF;
  margin-top: 10px;
}
.meetings .meeting-widget .absolute p {
  font-size: 12px;
  color: #FFF;
}

.podcast .podcast-widget {
  margin-bottom: 30px;
  overflow: hidden;
  color: #424143;
}
.podcast .podcast-widget img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}
.podcast .podcast-widget .play-icon {
  width: 34px;
  height: auto;
  position: absolute;
  top: 25%;
  right: 50%;
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  -o-transform: translate(50%, 50%);
  -moz-transform: translate(50%, 50%);
}
.podcast .podcast-widget h6 {
  margin-bottom: 0;
  padding-top: 10px;
  padding-right: 10px;
  font-size: 14px;
}
.podcast .podcast-widget p {
  padding-right: 10px;
  font-size: 14px;
}

.blogs-section .blog-widget {
  margin-bottom: 30px;
  color: #424143;
}
.blogs-section .blog-widget .widget-content {
  padding: 10px;
}
.blogs-section .blog-widget .widget-content h6,
.blogs-section .blog-widget .widget-content span {
  font-size: 14px;
}
.blogs-section .blog-photo {
  max-height: 400px;
  overflow: hidden;
  border-radius: 4px;
}
.blogs-section .blog-photo img {
  border-radius: 4px;
}
.blogs-section.workspaces .workspaces-widget img {
  max-height: 185px;
  object-fit: cover;
}

.user-profile .profile-photo {
  height: 121px !important;
  width: 121px !important;
  max-width: 100%;
  object-fit: cover;
  cursor: pointer;
}
.user-profile .nav-pills {
  padding: 10px 0;
}
.user-profile .nav-pills .nav-link {
  color: #424143;
  border: none;
  border-bottom: 1px solid #F3F3F3;
  border-radius: 0;
}
.user-profile .nav-pills .nav-link:last-child {
  border-bottom: none;
}
.user-profile .nav-pills .nav-link.active,
.user-profile .nav-pills .show > .nav-link {
  color: #1DBDB7;
  background: transparent;
}
.user-profile .edit-user-content {
  padding: 20px;
}
.user-profile .edit-user-content hr {
  margin: 15px -20px;
}

.main-trainer-step .step-box {
  background: #F3F3F3;
  display: block;
  min-height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid transparent;
  border-radius: 4px;
}
.main-trainer-step .step-box:hover {
  border-color: #1DBDB7;
}
.main-trainer-step .step-box img {
  margin-bottom: 15px;
}
.main-trainer-step .step-box p,
.main-trainer-step .step-box h5 {
  margin-bottom: 0;
  color: #424143;
}

.network-main-banner .circle-progress {
  height: 40px;
  width: 40px;
}
.network-main-banner .circle-progress img {
  border-radius: 50%;
  max-width: 31px;
  max-height: 31px;
}

.offers-section .offers-box {
  margin-bottom: 30px;
}
.offers-section .offers-box img {
  height: 40px;
  width: 40px;
  object-fit: contain;
  margin-left: 15px;
}
.offers-section .offers-box p {
  margin-top: 10px;
}

.opposed-section .opposed-box {
  margin-bottom: 30px;
}
.opposed-section .opposed-box img {
  height: 120px;
}
.opposed-section .opposed-box p {
  font-size: 12px;
  margin-top: 15px;
}

.success .success-box {
  margin-bottom: 30px;
}
.success .success-box img {
  height: 277px;
}

.academy .academy-upgrade-box {
  border-top-width: 14px !important;
  min-height: 386px;
}
.academy .custom-margin {
  margin-top: 74px;
}
.academy .custom-control {
  margin-bottom: 10px;
}
.academy .submenu {
  display: none;
  padding-right: 15px;
}
.academy .toggle-submenu {
  cursor: pointer;
}
.academy .toggle-submenu.rotate i {
  transform: rotate(180deg);
}

.payment-methods .nav-pills {
  justify-content: space-between;
}
.payment-methods .nav-pills .nav-item {
  flex-basis: 32%;
}
.payment-methods .nav-pills .nav-link {
  margin-left: 0;
}
.payment-methods .payment-history label.btn {
  display: flex;
  align-items: center;
}
.payment-methods .payment-history label.btn img {
  width: 25px;
  margin: 0 5px;
}

.incubator-subscription-process .process-box {
  border-width: 8px !important;
  z-index: 2;
  position: relative;
  margin-top: 37px;
}
.incubator-subscription-process .process-box.success-process::before {
  background-image: url(/assets/images/icons/sm-success.png);
}
.incubator-subscription-process .process-box.pending-process::before {
  background-image: url(/assets/images/icons/empty-proccess.png);
}
.incubator-subscription-process .process-box::before {
  content: "";
  position: absolute;
  right: 81px;
  top: -15px;
  height: 25px;
  width: 25px;
  z-index: 2;
  background-repeat: no-repeat;
}
.incubator-subscription-process .process-box::after {
  content: "";
  position: absolute;
  right: 93.5px;
  top: -45px;
  height: 37px;
  width: 1px;
  background: #a4a4a4;
  z-index: 1;
  opacity: 0.5;
}
.incubator-subscription-process .process-box .badge {
  padding: 8px;
}
.incubator-subscription-process .process-box .badge.badge-success {
  color: #34bb4b;
  background-color: #e8f8ec;
}
.incubator-subscription-process .process-box hr {
  opacity: 0.4;
}

.footer {
  background: #535353;
  margin-top: 60px;
  padding: 40px 0;
}
.footer h6 {
  color: #FFF;
  font-size: 14px;
}
.footer a {
  color: #FFF;
  font-size: 12px;
  margin-bottom: 5px;
}
.footer a:hover {
  color: #1DBDB7;
}
.footer .social-media {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
}
.footer .social-media a {
  margin-right: 15px;
}
.footer .privacy-policy {
  display: flex;
  align-content: center;
  align-items: center;
}
.footer .privacy-policy a {
  margin-bottom: 0;
}
.footer .privacy-policy .v-divider {
  color: #FFF;
  margin: 0 15px;
  position: relative;
  top: -2px;
}
.footer .subscribe {
  position: relative;
  overflow: hidden;
}
.footer .subscribe .form-control {
  height: 42px;
  border: none;
}
.footer .subscribe button {
  position: absolute;
  top: 0;
  left: 0;
}
.footer .subscribe button img {
  border-radius: 3px 0px 0 3px;
}

@media (min-width: 1366px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    margin: 0 5px;
  }
}
@media (min-width: 992px) and (max-width: 1366px) {
  .navbar .nav-link {
    font-size: 14px;
  }
  .navbar .search-form {
    width: 100%;
  }
  .navbar .search-form .form-control {
    margin-bottom: 15px;
    min-width: 100%;
    font-size: 14px;
  }
  .navbar .dropdown,
.navbar .dropleft,
.navbar .dropright,
.navbar .dropup {
    justify-content: right;
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar .dropdown-menu-categories {
    right: 0;
    -webkit-transform: translate(6px, 0);
    -ms-transform: translate(6px, 0);
    -o-transform: translate(6px, 0);
    -moz-transform: translate(6px, 0);
  }
  .navbar .dropdown .dropdown-menu {
    width: 100%;
    right: 0;
    -webkit-transform: translate(6px, 0);
    -ms-transform: translate(6px, 0);
    -o-transform: translate(6px, 0);
    -moz-transform: translate(6px, 0);
  }
  .navbar .dropdown .dropdown-menu:before {
    display: none;
  }
  .navbar .user-actions {
    align-items: center;
    flex-direction: row !important;
    justify-content: space-around !important;
  }
  .navbar .user-actions .dropdown {
    margin-bottom: 15px;
  }
  .navbar .message-user-avatar {
    text-align: center;
  }
}
@media (max-width: 992px) {
  .navbar h6 {
    font-size: 14px;
  }
  .navbar .right-column-of-navbar {
    align-items: flex-start;
  }
  .navbar .dropdown-toggle .badge {
    top: 10px;
    left: -45px;
    right: unset;
  }
  .navbar .search-form {
    width: 100%;
  }
  .navbar .search-form .form-control {
    margin-bottom: 15px;
    min-width: 100%;
    font-size: 14px;
  }
  .navbar .user-actions {
    width: 100%;
    align-items: center;
    flex-direction: row !important;
    justify-content: space-around !important;
  }
  .navbar .user-actions .btn-primary {
    margin: 20px auto;
  }
  .navbar .dropdown,
.navbar .dropleft,
.navbar .dropright,
.navbar .dropup {
    justify-content: right;
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar .dropdown-menu-categories {
    right: 0;
    max-width: 100%;
    -webkit-transform: translate(6px, 0);
    -ms-transform: translate(6px, 0);
    -o-transform: translate(6px, 0);
    -moz-transform: translate(6px, 0);
  }
  .navbar .dropdown .dropdown-menu {
    width: 100%;
    right: 0;
    -webkit-transform: translate(6px, 0);
    -ms-transform: translate(6px, 0);
    -o-transform: translate(6px, 0);
    -moz-transform: translate(6px, 0);
  }
  .navbar .dropdown .dropdown-menu:before {
    display: none;
  }
  .navbar .user-actions .dropdown {
    margin-bottom: 15px;
  }
  .navbar .user-actions .dropdown .dropdown-menu {
    right: 0;
    max-width: 100%;
    -webkit-transform: translate(6px, 0);
    -ms-transform: translate(6px, 0);
    -o-transform: translate(6px, 0);
    -moz-transform: translate(6px, 0);
  }
  .navbar .message-user-avatar {
    text-align: center;
  }
}
/* End Responsive */
@media (min-width: 992px) and (max-width: 1366px) {
  .academy-section .my-courses .video-thumbnail .play-icon {
    width: 34px;
    top: 15%;
  }
}
@media (max-width: 992px) {
  .adverting-slider .carousel-caption {
    padding: 50px;
  }
  .adverting-slider .carousel-caption h5 {
    font-size: 14px;
  }
  .adverting-slider .carousel-caption p {
    font-size: 12px;
  }
  .adverting-slider .carousel-control-next {
    left: 0;
    width: 50px;
  }
  .adverting-slider .carousel-control-prev {
    right: 0;
    width: 50px;
  }
  .adverting-slider .carousel-control-next-icon,
.adverting-slider .carousel-control-prev-icon {
    width: 50px;
    height: 50px;
  }

  .academy-section .my-courses {
    margin-bottom: 30px;
  }
  .academy-section .my-courses h6 {
    margin-top: 10px;
  }
  .academy-section .my-courses .video-thumbnail .play-icon {
    width: 34px;
    top: 28px;
  }

  .public-leading-businesses-section .lb-widget {
    margin-bottom: 30px;
  }
  .public-leading-businesses-section .lb-widget .status {
    top: 10px;
    right: 10px;
  }

  .private-leading-businesses-section .lb-widget {
    margin-bottom: 30px;
    min-height: 100px;
  }

  .work-shops-section .workshop-widget {
    margin-bottom: 30px;
  }
  .work-shops-section .workshop-widget img {
    width: 100%;
    object-fit: cover;
  }
  .work-shops-section .banner img {
    margin-bottom: 20px;
    max-width: 70px;
  }

  .network-section .women-entrepreneurs {
    margin-bottom: 30px;
  }
  .network-section .women-entrepreneurs img {
    max-width: 100%;
  }

  .meetings .meeting-widget {
    margin-bottom: 30px;
  }
  .meetings .meeting-widget img {
    width: 100%;
    object-fit: cover;
  }

  .podcast .podcast-widget {
    margin-bottom: 30px;
  }
  .podcast .podcast-widget img {
    width: 100%;
    object-fit: cover;
  }
  .podcast .podcast-widget .play-icon {
    width: 34px;
  }

  .blogs-section .blog-widget {
    margin-bottom: 30px;
  }
}
/* End Responsive */
@media (max-width: 992px) {
  .blogs-section .filtration a {
    margin-bottom: 10px;
  }
  .blogs-section .blog-title h2 {
    font-size: 16px;
  }
  .blogs-section .blog-title span {
    font-size: 12px;
  }
}
/* End Responsive */
@media (max-width: 992px) {
  .single-meeting .btn-groups {
    margin-bottom: 30px;
  }
}
/* End Responsive */
@media (max-width: 992px) {
  .podcast-photo img {
    margin-bottom: 30px;
  }

  .podcast-details .d-flex {
    margin-bottom: 10px;
  }
}
/* End Responsive */
@media (max-width: 992px) {
  .user-profile .nav-pills {
    margin-bottom: 30px;
  }
  .user-profile .birthday .custom-select {
    margin-bottom: 15px;
  }
  .user-profile .birthday .col-12:last-child .custom-select {
    margin-bottom: 0;
  }
  .user-profile .custom-control {
    margin-left: 0.5rem;
  }
}
/* End Responsive */
@media (max-width: 768px) {
  .projects-list {
    text-align: center;
  }
  .projects-list img {
    margin-bottom: 20px;
  }
  .projects-list .liked img {
    margin-bottom: 0;
  }
}
/* End Responsive */
@media (max-width: 992px) {
  .academy .custom-margin {
    margin-top: 30px;
  }
  .academy .academy-upgrade-box {
    min-height: auto;
  }
}
/* End Responsive */
@media (max-width: 992px) {
  .title h2 {
    font-size: 26px;
  }
  .title p {
    font-size: 12px;
  }

  .sub-title h2 {
    font-size: 22px;
  }
}
/* End Responsive */
@media (max-width: 992px) {
  .footer h6 {
    margin: 15px 0;
  }
}
/* End Responsive */

/*# sourceMappingURL=styles.css.map */
